[2019-07-19 18:41] bertsky opened #12 "prefer second position of output_file_grp for AlternativeImage, make FILEGRP_IMG fallback"
Fixed by OCR-D/ocrd_tesserocr#59 for binarization already, this needs to be done for all processors. Moreover, this must be reflected in the documentation (ocrd-tool.json, README, docstrings) and tests.

Please assign @kba for this (after #11 is merged, so he can start a new PR).

[2019-08-29 12:11] #12 closed

[2019-10-27 20:56] stweil opened #21 "Improve code quality"
[LGTM](https://lgtm.com/projects/g/cisocrgroup/ocrd_cis/) shows only a moderate C code quality for `ocrd_cis` and gives numerous hints how it could be improved.

[2019-10-28 09:38] finkf commented on #21
Thank you, I will have a look on this, after we have incorporated all other changes.

[2019-11-04 11:36] finkf opened #25 "Problem with installed pillow version"
I do `rm -rf venv && python3 -m venv venv` from inside ocrd_cis. Then `source venv/bin/activate && pip install --upgrade pip -e .`

`pip freeze | grep -i Pillow` produces: `Pillow==5.4.1`

When I run `ocrd-cis-ocropy-binarize` I get the following error:
[code]

[2019-11-04 11:37] finkf commented on #25
@bertsky can you reproduces this error?

[2019-11-04 12:35] finkf commented on #25
My bad. Fixed

[2019-11-04 12:35] #25 closed

[2019-11-07 17:12] bertsky opened #27 "cannot find model"
To me, 1eb4cb1e9b8cbf13671a799919d23640ed0c8390 (_Improve searching for model files_) is a regression: The old method delegated to `ocrolib.load_object()`, which itself would try various paths (the system's `datarootdir`, `/usr/local/share/ocropus`, the CWD, the directory of the source file) and its subdirectories, and would also try with and without `.gz` suffix. It thus covered many use cases (i

[2019-11-07 17:14] bertsky commented on #27
BTW, `load_object()` calls `ocropus_find_file()` which already raises an exception, if none of the various attempts are fruitful eventually. So it is safe to just remove the new exception.

[2019-11-08 13:52] #27 closed

[2019-12-02 14:24] finkf commented on #21
[LGTM](https://lgtm.com/projects/g/cisocrgroup/ocrd_cis/?mode=list) Code Quality: A.

[2019-12-02 14:24] #21 closed

[2019-12-10 08:17] wrznr opened #32 "Line detection during dewarping is defective"
`ocrd-cis-ocropy-dewarp` frequently complains about finding more than one text line in a line segment:
[code]
The corresponding lines however look perfectly fine:
![FILE_0011_ARESEG-IMG_Page1_Block16_Page1_Block16_line0007](https://user-images.githubusercontent.com/26707219/70508014-d6d54200-1b2d-11ea-88c0-51feb0a2453d.png)

@bertsky Is it possible to adjust the internal heuristics to be more lax

[2019-12-10 15:35] bertsky commented on #32
There is a [parameter](https://github.com/cisocrgroup/ocrd_cis/blob/2445bff44e856f8015f38bdbca59c8705ad0efa0/ocrd_cis/ocropy/ocrolib/lineest.py#L27), but it is not exposed in the tool json. The problem here is most likely the horizontal line above `Beachtung`. But I'd have to check the interim results in ocrolib.lineest.check...

[2019-12-10 23:19] bertsky commented on #32
Confirmed:

![lineest-32 check-counts](https://user-images.githubusercontent.com/38561704/70576904-fb6b0180-1ba1-11ea-8ad9-23de1fdedb20.png)

This tells you that the 106 foreground pixels in that horizontal line make up slightly more than 2 percent (the default `max_ignore`) of the total foreground pixels. Here is how it would have looked when applying the measured centerline:

![lineest-32 dew](h

[2019-12-10 23:38] bertsky commented on #32
@wrznr you can try this out [here](https://github.com/bertsky/ocrd_cis/tree/dewarp-expose-check-threshold). I have not tested this yet. When we are both satisfied, I will turn this into a PR.

[2019-12-11 08:52] wrznr commented on #32
As much as I like parameterization, I do not see a chance that such fine-grained settings are possible in a mass digitization scenario. What would be an example for a “more malicious distribution”?

[2019-12-13 02:28] bertsky commented on #32
I remember seeing them – hence the small default threshold of only 2%. But all I could come up with were examples with very large ratios of intruders (>10%) which of course exhibited highly destructive dewarping and examples with very small ratios (<4%) which all proved to be still beneficial:

![OCR-D-IMG-RESEG-extract_0005_TextRegion_1476106017454_319_tl_34 bin](https://user-images.githubusercon

[2019-12-13 13:12] #32 closed

[2019-12-18 11:05] bertsky opened #34 "wrap scale estimation as separate processor for DPI estimation"
It would be useful to have a dedicated processor for DPI estimation in OCR-D. That's because we [cannot rely on DPI metadata](https://github.com/OCR-D/spec/pull/129), although we need to. (Most Ocropy segmentation steps now zoom in on the annotated DPI value in order to forego the 300 DPI assumption. This situation is likely similar with other modules.)

Tesseract already has such a functionality,

[2020-01-07 11:37] bertsky opened #35 "ocropy: add parameters to override DPI meta-data"
While waiting for OCR-D/core#376 as a general mechanism in core (sanctioned by spec) at some point in the future (3.0 milestone), we need a quick solution for Ocropy segmentation and recognition now (final workshop): override the meta-data density value with a parameter exposed to the user (as a last resort).

[2020-01-14 19:03] stweil opened #36 "ocrd-cis-ocropy-recognize -J fails with error"
Running `ocrd-cis-ocropy-recognize -J` throws an exception:

    [...]
    AttributeError: 'OcropyRecognize' object has no attribute 'parameter'

[2020-01-14 19:04] stweil commented on #36
@kba, this might also be a bug in OCR-D/core.

[2020-01-14 19:29] kba commented on #36
Not really, as long as `__init__` doesn't assume that `process` is to be called (which it isn't e.g. when dumping the ocrd-tool.json), it should work.

This is the only processor that has any setup in __init__ and it's easy to fix by moving the model init code to process. All other `ocrd-cis` dump JSON just fine.

Maybe it would make sense to rename `ocrd-cis-ocropy-rec` since that has no ocrd int

[2020-01-23 14:41] #35 closed

[2020-01-23 14:42] #36 closed

[2020-02-14 12:55] stweil opened #39 "`ocrd-cis-align --help` and other commands fail to show help"
`ocrd-cis-align` does not support the standard `--help` option, but fails with a `KeyError` exception.

[2020-02-14 12:56] stweil commented on #39
Other commands which also don't support `--help`: ocrd-cis-data.

[2020-02-14 13:19] finkf commented on #39
I thought, that the ocrd core tools take care of the standard command line options.  I will look into it.

[2020-02-14 13:21] stweil commented on #39
Yes, they provide at least most of the required functionality. CC'ing @kba who might be able to give more information.

[2020-02-14 13:30] finkf commented on #39
I just installed the latest dev version using venv and it seems to work for me:
[code]

[2020-02-14 20:10] stweil commented on #39
Hm. I just tested an installation with the latest `OCR-D/ocrd_all`, and I still get the problem.

[2020-02-14 20:18] stweil commented on #39
The problem can also be reproduced with the latest code from the `dev` branch on Debian testing:

    cd ocrd_cis/
    python3 -m venv venv
    source venv/bin/activate
    pip install -U pip
    pip install .
    ocrd-cis-align --help

=>

    Traceback (most recent call last):
      File "/ocrd_cis/venv/bin/ocrd-cis-align", line 11, in <module>
        load_entry_point('ocrd-cis==0.0.6', 'consol

[2020-02-17 09:31] VolkerHartmann opened #40 "ocrd-cis-post-correct.sh is not OCR-D ready"
There seems to be a mix-up of input and output groups.
ocrd-cis-post-correct.sh -m mets.xml -p anyFile -I OCR-D-GT-SEG-BLOCK,OCR-D-GT-SEG-PAGE -O newOutputGorup
Exception: Invalid input/output file grps:
	Output fileGrp[@USE='OCR-D-GT-SEG-BLOCK'] already in METS!

[2020-02-17 11:34] VolkerHartmann commented on #40
For the parameters  '-J' and '--help' all other parameters must also be set which is not very helpful. ;-)

[2020-02-17 11:37] finkf commented on #40
I will fix this ASAP. Thanks for reporting this issue.

[2020-02-17 11:54] kba commented on #39
All processors need to explicitly define `input_file_grp` and `output_file_grp` in the ocrd-tool.json currently. However for ocrd_cis:

[code]

@finkf Can you make sure that the ocrd-tool.json validates?

I will make the help generation in core more flexible nonetheless.

[2020-02-17 12:48] finkf commented on #39
I am trying to validate ocrd-tool.json, but it keeps failing (see below). What is the correct way to validate the `ocrd-tool.json`?

[code]

[2020-02-17 12:51] kba commented on #39
Yeah, `ocrd-tool` subcommand is confusing, the syntax is `ocrd ocrd-tool /path/to/my/ocrd-tool.json validate`. But I'm aware how weird and unintuitive that is. Therefore we also expose it as `ocrd validate tool-json`:

[code]

or just

[code]

if you're in the same directory as the ocrd-tool.json.

[2020-02-17 12:53] finkf commented on #39
Ah. OK now it works. Thanks! I will make sure that the cis tools validate.

[2020-04-02 14:42] jbarth-ubhd opened #41 "ocrd-cis-ocropy-recognize: 'ascii' codec can't decode byte 0xa9"
models:
[code]

file: https://digi.ub.uni-heidelberg.de/diglitData/jb/ocropy-test.jpg

command:
[code]

[2020-04-02 16:36] bertsky commented on #41
Thanks for reporting!

I believe this is an artifact of incomplete Python 2-3 porting. You can avoid it by leaving the file in gzip-compressed form (with `.gz` extension).

The uncompressed case needs to use the same `latin1` encoding IMO.

[2020-04-03 07:23] msalat commented on #41
Tried it, but then ocr-cis-ocropy-recognize does not find the *.pyrnn.gz

[2020-04-03 07:24] jbarth-ubhd commented on #41
Tried it, but then ocr-cis-ocropy-recognize does not find the *.pyrnn.gz

[2020-04-03 10:02] bertsky commented on #41
That's odd. Relative paths should be searched:

1. in `__file__`'s directory, e.g. `venv/lib/python3.6/site-packages/ocrd_cis/ocropy`
2. in `__file__`'s `models` subdirectory, e.g. `venv/lib/python3.6/site-packages/ocrd_cis/ocropy/models`
3. in any of the directories mentioned in `ocrolib.ocropus_find_file`:
[code]

3 probably won't help you, because the CWD is the OCR-D workspace directory in the

[2020-04-21 18:11] kba opened #42 "Document dependency on jq"
jq is used for JSON parsing in the shell scripts. README should explain how to install (`sudo apt-get install jq`) and those scripts that depend on it should fail early if `jq` isn't in `$PATH`.

[2020-04-23 07:47] finkf commented on #40
I have a fix coming up that addresses this issue. The fix will also fix #42

[2020-05-11 12:59] #41 closed

[2020-05-13 09:07] finkf commented on #42
fixed in 34201b6d00216d650b3d8759c1891dc6d9d1ce64

[2020-05-13 09:07] #42 closed

[2020-05-13 09:07] finkf commented on #40
fixed in 34201b6d00216d650b3d8759c1891dc6d9d1ce64

[2020-05-13 09:07] #40 closed

[2020-05-13 09:07] finkf commented on #39
fixed in 34201b6d00216d650b3d8759c1891dc6d9d1ce64

[2020-05-13 09:07] #39 closed

[2020-05-15 09:17] VolkerHartmann commented on #40
:+1: Thanks. Works now fine for me.

[2020-06-03 17:47] EEngl52 opened #51 "no correction with ocrd-cis-postcorrect"
I'm running `ocrd-cis-postcorrect` on the aligned OCR-output of Calamari and Tesserocr. So far, the output seems to be completely identical with the input even though there are quite some differences between the results of the two OCR engines. See e.g. the attached example.
[postcorrect.zip](https://github.com/cisocrgroup/ocrd_cis/files/4725142/postcorrect.zip)

How can I achieve some correction r

[2020-06-04 08:31] finkf commented on #51
Thanks for reporting. I am having a look.

[2020-06-04 09:32] finkf commented on #51
It appears that both files are line-segmented.  The post-correction needs word-segmented input.  Also both files appear to contain the same content.
Anyway you should set the OCR to output word segments (as well as line segments).

[2020-06-05 14:03] EEngl52 commented on #51
thanks for your quick reply! I'll try it again with word segments and report back

[2020-06-20 00:59] NavpreetDevpuri opened #53 "Is there any way to use it in python likewise we can easily use tesseract-OCR in python ?"
I want a simple way to use this aswome library in python.
likewise in python we can use tesseract-OCR see [here](https://pypi.org/project/pytesseract/) how easy it is to use.

[2020-06-20 01:03] NavpreetDevpuri opened #54 "Please provide some working code examples."
Likewise we can find so many working examples about tesseract-OCR
for example at this [link](https://pypi.org/project/pytesseract/)

[2020-06-30 14:02] bertsky commented on #53
@NavpreetDevpuri What do you mean by _simple way_?

This repo contains an OCR post-correction tool along with a much improved version of [Ocropy 1](https://github.com/tmbarchive/ocropy) and ocrolib, but only for [OCR-D](https://ocr-d.de) – as the description/documentation says.

If you want non-OCR-D CLIs, you'll have to use the `ocropus-*` tools from old Ocropy 1 (which is Python 2 only).

For Te

[2020-06-30 14:04] bertsky commented on #54
This repo is _not_ about Tesseract, and not just an API. There are plenty of usage examples in the README, including links to the general documentation of the OCR-D framework.

Can we close this?

[2020-06-30 16:24] NavpreetDevpuri commented on #53
i mean to say Can i somehow use this **OCR post-correction tool** with python likewise i can use [pytesseract (OCR tool)](https://pypi.org/project/pytesseract/) ?

[2020-06-30 17:09] NavpreetDevpuri commented on #53
thanks for your reply.
i want to know that is there any way to use this **OCR post-correction tool** in python likewise we can easily use [tesseract-OCR (OCR tool)](https://pypi.org/project/pytesseract/) in python ?
it seems like i need to setup *Docker** as mentioned [there](https://ocr-d.de/en/user_guide)
i want to use it in python without **Docker** likewise tesseract.

i want a easiler way to

[2020-06-30 17:13] NavpreetDevpuri commented on #54
As mentioned at https://github.com/cisocrgroup/ocrd_cis/issues/53#issuecomment-651926548
is there any examples similar to mentioned code example ?

[2020-07-01 08:42] finkf commented on #54
I am sorry, but there is no such explicit API documentation.  This project is meant to provide a command-line application for the [OCR-D](https://ocr-d.de/en/) tool suite.

[2020-07-30 08:54] EEngl52 commented on #51
I finally tried `ocrd-cis-postcorrect` again, this time with two OCR results from Tesseract and Calamari boeth segmented on word level (and aligned beforehand). Unfortunately I now run into an error (see attachment), there are no output files produced at all.

[stderr.txt](https://github.com/cisocrgroup/ocrd_cis/files/5000064/stderr.txt)

[2020-07-30 10:01] finkf commented on #51
From a quick glance I suspect problems with the profiling. Can you rerun the same command with `--log-level DEBUG`? I'll take a look later today.

[2020-07-30 10:31] EEngl52 commented on #51
thx a lot for your quick reply! there's the log file

[stderr.txt](https://github.com/cisocrgroup/ocrd_cis/files/5000647/stderr.txt)

[2020-07-31 08:57] finkf commented on #51
In order to run our post correction, both our [profiler](https://github.com/cisocrgroup/profiler) and an according [language backend](https://github.com/cisocrgroup/Resources/tree/master/lexica) has to be installed on the system.  The configuration variable `profilerPath` (which should be named `profilerCommand` more appropriately) must point to the profiler executable and the `profilerConfig` var

[2020-07-31 08:58] finkf commented on #51
And I forgot to mention, that the error you are getting is due to a bad profiler configuration.

[2020-08-04 07:41] EEngl52 commented on #51
thanks for your help! I'm using a native installation of `ocrd_all` and assumed that it included everything I need to run `ocrd-cis-postcorrect` (except the model). But then I guess I still need to install profiler and language backend

[2020-08-04 08:11] finkf commented on #51
If you use a native installation, you need to install the profiler as well.  I have little experience with python's installation setup.  But maybe it is possible to install the profiler alongside with ocrd_cis.  Maybe @kba can help here.

[2020-08-19 09:52] jbarth-ubhd opened #59 "Column segmentation failure"
workflow:

[code]

 * 0001 is not segmented in 3 columns, but vertical separator line is without any breaks after wolf binarization.
 * 0017 does not segment correctly when binarized, but original (color)
 * 0042 does not segment correctly.

TIFFs:
[0001](https://digi.ub.uni-heidelberg.de/diglitData/v/ocrd/0001-bfa1867_-_0316.tif)
[0017](https://digi.ub.uni-heidelberg.de/diglitData/v/ocrd/0017-chr

[2020-08-19 13:42] finkf opened #60 "ocropy segment does not handle input files properly"
ocrd-cis-ocropy-segment does not segment any image files.

Looking at the code in ocrd_cis/ocropy/segment.py line 220 looks wrong:
[code]
Shouldn't this be:
[code]

As well as line 113 seems weird:
[code]

[2020-08-19 16:52] bertsky commented on #60
These 2 are the same. But recently, the `input_files` property has become even more, because it must also differentiate between PAGE and image files in the same fileGrp, for the same pageId.

So: no, this is the correct pattern, and since OCR-D/spec#164 we _must_ use `input_files`.

This used to be the correct pattern for processors that write AlternativeImages. (The conditional was necessary beca

[2020-08-20 07:56] finkf commented on #60
Ok. Thanks for the clarification

[2020-08-20 07:56] #60 closed

[2020-08-20 15:33] bertsky commented on #59
Thanks @jbarth-ubhd for the detailed report!

I'll address these separately:

## 0001

Very interesting. Ocropy detects the v-lines flawlessly, but nevertheless does not use them to split the region. (Part of the problem here is _deskewing_, which does not work very well on multi-column layouts, because Ocropy is based on projection profile entropy. But even with Tesseract for deskewing, which use

[2020-08-20 15:47] bertsky commented on #59
@jbarth-ubhd could you please pull #61 and run it on your benchmark to see if this degrades segmentation elsewhere?

[2020-08-20 18:50] EEngl52 opened #62 "region segmentation crashes"
`ocrd-cis-ocropy-segment` crashed completely [on this picture](http://diglib.hab.de/drucke/lm-3366a-3b/00079.jpg) with the following workflow:
ocrd-cis-ocropy-binarize|MAX|OCR-D-BIN1| | |ERROR
ocrd-anybaseocr-crop|OCR-D-BIN1|OCR-D-CROP| | |ERROR
ocrd-olena-binarize|OCR-D-CROP|OCR-D-BIN| | |ERROR
ocrd-cis-ocropy-deskew|OCR-D-BIN|OCR-D-DESKEW| | /test/data/ocrd/taverna/models/param-cis-deskew-page.j

[2020-08-20 21:46] cneud commented on #62
[code]

[2020-08-20 22:27] bertsky commented on #62
Sorry, cannot reproduce yet. My segmentation runs correctly. Can you tell me the parameters you used in that workflow? And which versions (esp. ocrd_anybaseocr and ocrd_olena)?

[2020-08-21 06:32] jbarth-ubhd commented on #59
0017 + 0042: yes, tesseract, sorry.

[2020-08-21 06:49] EEngl52 commented on #62
thanks for looking into this so quickly!
I'm using `ocrd_all` natively, last commit ca24263 (`ocrd-olena-binarize version 1.2.0 and `ocrd-anybasocr-crop` version 0.0.5). I didn't specify any parameters except region level for `ocrd-cis-ocropy-deskew` and `ocrd-cis-ocropy-segment`

[2020-08-21 07:34] bertsky commented on #62
Okay, sadly, ocrd_all hasn't updated the modules for some time now (because we want to migrate all OCR-D/spec#164 changes at once). So the difference _might_ be caused by `ocrd-cis-ocropy-binarize`'s [DPI zoom change](https://github.com/cisocrgroup/ocrd_cis/commit/b4a8e9f1a356fc116905c82c0e6a4df54d82dfc7), checking...

[2020-08-24 19:02] bertsky commented on #59
Strictly does not belong here, but briefly: Tesseract has [problems with dots](https://github.com/tesseract-ocr/tesseract/issues/2970), too. But I cannot reproduce what you see (i.e. near nothing on the index page). For me, Tesseract also struggles, but not nearly as bad. It also depends a lot on whether you allow table detection and whether you pass the raw or binary image to Tesseract:
- `find_t

[2020-09-07 09:25] bertsky opened #65 "remove unconditional pylab imports"
_Originally posted in https://github.com/OCR-D/ocrd_all/issues/184#issuecomment-687840923_

[2020-09-10 06:47] M3ssman opened #67 "TopologicalError: GEOSIntersection_r could not be performed"
### Environment

* **Version**: included in Docker Image `ocrd/all` from 2020-08-04 (docker image id: 158ea3d64eae)
### Current Behavior:
When executing something like: `docker run --rm -u "40366" -w /data -v "/home/aqayv/project/ulb-it-migration/WORKSPACE_OCR/203074":/data -v /usr/share/tesseract-ocr/4.00/tessdata:/usr/local/share/tessdata/ ocrd/all:2020-08-04 ocrd-make -f ulb-ocrd-vd18-02.mk .`:

[2020-09-10 10:52] bertsky commented on #67
Thanks @M3ssman for the full report!

Looks similar to #62 and https://github.com/OCR-D/ocrd_tesserocr/issues/149. I'd very much like to hunt this down, but the problem is with the **producers** of invalid coordinates, we cannot make each and every consuming processor robust to that kind of error.

Looking into your workflow and PAGE results, there's a self-intersection in TextRegion `region0010`

[2020-09-10 15:46] bertsky commented on #67
@M3ssman I could run your workflow to completion with https://github.com/OCR-D/ocrd_segment/pull/43. Can you please try this with a full document?

[2020-09-14 07:24] bertsky commented on #62
Thanks @EEngl52 for sharing the METS and images! I can reproduce now. The problem seems to be an instance of what I described in point 3 of https://github.com/OCR-D/ocrd_segment/pull/43 – namely that _rounding_ (here: when converting the line polygon from relative to absolute coordinates via `coordinate_for_segment`) can make a valid Polygon shape invalid (self-intersect). I will try to make an an

[2020-09-14 20:14] Witiko opened #68 "'GeometryCollection' object has no attribute 'exterior'"
### Environment

* **Version**: included in Docker Image `ocrd/all:maximum` from 2020-09-10 (docker image id: [9e71ab5d7d53](https://hub.docker.com/layers/ocrd/all/maximum/images/sha256-9e71ab5d7d537c004742583268c111d0158a73af5d22430fcd7a43b2d7dda4d0?context=explore))

### Current behavior
When executing docker run -v 1085:/data -w /data -v calamari_models:/models -- ocrd/all:maximum ocrd process

[2020-09-14 21:16] Witiko commented on #68
Instead of running the whole workflow, I executed just the failing step and enabled debugging:

[code]

I attach the output below:

[code]

I assume the LINESTRING is what is causing the issues.

[2020-09-14 21:40] Witiko commented on #68
I patched `segment.py` as follows:

[code]

This seems to have fixed this issue. Would you like me to open a pull request, or is there an easy way to investigate which one of the 95 files in directory `1085/OCR-D-SEG-REG-DESKEW-CLIP` causes the issue, so that we can see where the LineString is coming from?

[2020-09-15 06:26] bertsky commented on #68
Dear @Witiko, thanks for the detailed report and the suggestions! This topic was hot across multiple similarly implemented modules in the recent days. There is a full-scale discussion at https://github.com/OCR-D/ocrd_segment/pull/43, and comprehensive fixes have been proposed (https://github.com/OCR-D/ocrd_tesserocr/pull/152, https://github.com/cisocrgroup/ocrd_cis/pull/61) or merged (https://gith

[2020-09-15 09:04] #59 closed

[2020-09-15 09:04] #62 closed

[2020-09-15 09:04] #67 closed

[2020-09-15 09:04] #68 closed

[2020-09-15 10:20] Witiko commented on #68
Thanks, @bertsky, I am trying that out now. I will let you know if things are fixed.

[2020-09-15 10:41] bertsky commented on #68
Or, if you just wait another hour (or so), the [new ocrd/all image](https://github.com/OCR-D/ocrd_all/runs/1116984862) will become available.

[2020-09-15 11:36] Witiko commented on #68
@bertsky Thank you, I will wait. After the suggested changes, I am receiving the following error:
[code]

[2020-09-15 21:55] bertsky commented on #68
Must have been a temporary impasse. I can fetch 2.16.3 from PyPI now.

In the [current ocrd/all:maximum](https://hub.docker.com/layers/ocrd/all/maximum-git/images/sha256-9681786ca7b825120a90f0f4c2d80d583cad4e0bb1f9a12df3f0d30316442b14), `ocrd --version` is also `2.16.3`.

[2020-09-16 11:45] Witiko commented on #68
@bertsky I am experiencing no issues with the yesterday's docker image. Thanks again.

[2020-10-06 07:37] jbarth-ubhd opened #72 "Bug: OcropyClip: TypeError: function takes exactly 1 argument (2 given)"
Workflow:

[code]

Log:
[code]

[2020-10-07 05:26] bertsky commented on #72
Thanks for the report!

Looks like this is related to [this SO issue](https://stackoverflow.com/questions/60958127/torchvision-transforms-topilimage-typeerror-function-takes-exactly-1-argument) around [this GH issue](https://github.com/python-pillow/Pillow/issues/1808) of Pillow. Which version do you have? (`pip show pillow`)

[2020-10-07 06:15] bertsky commented on #72
BTW your workflow has a flaw: You cannot use clipping _after_ any processor that already adds derived images (`AlternativeImage`) on the same hierarchy level. Since...

https://github.com/cisocrgroup/ocrd_cis/blob/a6f90abc43faabf86691d6d689b4ad4470a6c107/ocrd_cis/ocropy/clip.py#L77-L79

...and so the processor won't actually do anything but print warnings...

https://github.com/cisocrgroup/ocrd_ci

[2020-10-07 09:33] jbarth-ubhd commented on #72
[code]

[2020-10-07 09:36] jbarth-ubhd commented on #72
Workflow has been generated by script according to https://ocr-d.de/en/workflows a few months ago.

[2020-10-07 12:33] jbarth-ubhd commented on #72
I'll have here a small script implementing roughly the steps 0..14 of https://ocr-d.de/en/workflows . Could you have a look at it, especially `after any processor that already adds derived images (AlternativeImage) on the same hierarchy level`

[code]

[2020-10-08 20:48] jbarth-ubhd commented on #72
let's try Pillow 7.1.2...
[code]

[2020-10-08 20:55] jbarth-ubhd commented on #72
this two lines?
[code]

But it's still here: https://ocr-d.de/en/workflows Step 9 + 10

[2020-10-08 21:29] bertsky commented on #72
Yes, sorry, did not spot it there the first time. I have updated [my issue](https://github.com/OCR-D/ocrd-website/issues/172) on the recommendations.

[2020-10-08 21:30] bertsky commented on #72
7.2.0 should have the fix IIUC. I am still trying to reproduce. It definitely depends on the image's color mode (16/32 bit integer or float are probably the culprit). Getting back to you when I tried with such an image.

[2020-10-08 22:53] bertsky commented on #72
No luck here. Tried with 8+1, with 16 bit and 32 bit images. Could you please share the image it failed on?

[2020-10-09 05:55] jbarth-ubhd commented on #72
Sent an email with link to images.

[2020-10-12 17:01] jbarth-ubhd opened #73 "resegment: running for 155 minutes(?)..."
and still running.

Workflow:
[code]

[code]

@bertsky: same image set as in last email.

PS: no cis-ocropy-clip for obvious reasons :-)

[2020-10-12 18:02] jbarth-ubhd commented on #73
aborting after 244 minutes...

[2020-10-14 08:07] jbarth-ubhd commented on #73
Finally went through; took hours.

Since this only occurs in combination with pc-segmentation and pc-segmentation seems currently the weakest segmentation method, I'll close this case.

[2020-10-14 10:19] stefanCCS opened #74 "Got "Killed" running ocrd-cis-ocropy-clip"
Running this workflow below with an image creates a "killed" error like this:
[code]

For getting the image, please contact myself on Gitter

Workflow used:
[code]

[2020-10-14 10:42] bertsky commented on #74
Thanks @stefanCCS for the report. I cannot say much without more context – either in form of debug level log output (e.g. by running with `-l DEBUG`) or with the incriminated page's image.

But that workflow itself is also flawed – please see [here](https://github.com/cisocrgroup/ocrd_cis/issues/72#issuecomment-704718959).

[2020-10-14 11:21] stefanCCS commented on #74
Addtional information with -`l DEBUG`:
[code]

[2020-10-14 11:22] stefanCCS commented on #74
For getting the image, please contact myself on Gitter private Chat.

[2020-10-14 13:07] bertsky commented on #73
I would really like to debug this, but unfortunately I have not been able to run ocrd-pc-segmentation in the past. So could you please provide me with the last input file? I.e. fileGrp `OCR-D-N8` file with pageId `OCR-D-N8_00062` – only the PAGE-XML (since you gave me the images already)...

Before we close, we should make sure this is not a bug on ocrd_cis side. Could you please `ocrd workspace v

[2020-10-14 23:13] bertsky commented on #74
Thanks! I am able to reproduce this now.

Unfortunately, it's not strictly a bug, but just inefficient programming. Clipping necessarily has to compare N by N regions somehow. And when coordinates do suggest a pair intersects, the algorithm ultimately needs to look at both regions' masks into the page, to check for overlapping connected components. So to avoid calculating the same masks over and o

[2020-10-15 04:16] jbarth-ubhd commented on #73
I've let it run again...

Note: complete workflow took longer than sbb_textline, resegment alone 3:30 wallclock time.

I don't know which page exactly affects resegment execution time. Perhaps a consequence of too bad input to resegment. Let's wait if someone else complaines in combination with sbb_textline or similar.

[code]

[2020-10-15 07:02] bertsky commented on #73
I was able to run `ocrd-pc-segmentation` now. I can reproduce the extremely long runtime of `resegment` afterwards.

From what I see, this _is_ somewhat related to bad segmentation quality (undetected multi-column layouts). `ocrd-pc-segmentation` does produce invalid PAGE (negative coordinates etc).

But this also exposes a weakness in the resegmentation algorithm: if input regions are quite large

[2020-10-15 07:05] bertsky commented on #72
Thanks – I could reproduce. You helped find a bug again! Fix is in #75

[2020-10-15 08:53] stefanCCS commented on #74
Ok, understood.
Rized my image to 50% - works fine (image was 300dpi before, resulting in 150dpi).
--> I am not the one, who decides, if or when this issue should be fixed (I can work with this workaround to resize my images as I am in general evaluation phase).

[2020-10-21 09:21] #72 closed

[2020-10-28 15:03] b2m opened #76 "ocrd-cis-align producing unexpected xml"
When using _ocrd-cis-align_ together with _ocrd-dinglehopper_ I noticed some unexpected behavior regarding the generated XML by _ocrd-cis-align_.

See qurator-spk/dinglehopper#37 for the way that led me here.

Here is the minimal workflow to reproduce the problem (also in the attached zip file as `workflow.sh`).
[code]

I added a minimal example on how to reproduce the problem using docker and the

[2020-10-29 10:03] cis-sp2021 commented on #76
Thanks for reporting.  I'll look into that.

[2020-10-29 10:04] finkf commented on #76
Thanks for reporting.  I'll look into this issue.

[2020-10-29 11:49] finkf commented on #76
I could fix the issue see #78

[2020-11-04 11:54] jbarth-ubhd opened #79 "OcropyResegment: ValueError: A LinearRing must have at least 3 coordinate tuples"
Log:
[code]

Workflow:
[code]

Image:
https://digi.ub.uni-heidelberg.de/diglitData/v/ocrd/dobbert1861_-_14.tif

 * git log of ocrd_all: commit 39a946255f8276a01b17055b300f1ddbc267187a
 * git log of ocrd_all/ocrd_cis: commit 5ec0e34026930961bbc300e70d0d2586f14b7411

[code]

[2020-11-04 22:15] bertsky commented on #79
Thanks @jbarth-ubhd! I can reproduce.

You exposed a bug that's been lurking there ever since. What happened was that sometimes (due to rounding), cropping can result in -1 as a bbox's left boundary. But if you feed that as a slice to a numpy array, it will be interpreted from the right, so the array will only be 1px wide/high.

This only surfaced because you were using resegmentation after clippi

[2020-11-05 10:24] jbarth-ubhd commented on #79
Oops. clip(line) + resegment is not an "allowed" combination here: https://ocr-d.de/en/workflows . Must have been an copy&paste error. Sorry for opening this case.

[2020-11-05 10:33] bertsky commented on #79
It _is_ allowed, but not useful. (What's not allowed is clipping after another step producing derived images on the same level, e.g. line-level dewarping before line-level clipping, or region-level deskewing before region-level clipping.)

As I said above, you _did_ find an error, and as long as #77 is not merged, I'll keep this open.

[2020-11-05 11:14] jbarth-ubhd commented on #79
ok but clip(line) & resegment are listed in "Step 12: Resegmentation (Line Level)", so from the documentation I would not do both.

[2020-11-05 11:25] bertsky commented on #79
Well, technically, you could combine them with clipping as a _fall-back_ to resegmentation: in case the latter fails on a line (because it cannot match a good, single polygonal outline to the existing bbox) the former can still achieve _something_ on the components directly crossing the margin. (But your ordering does not make sense AFAICT.)

[2020-11-06 12:38] jbarth-ubhd opened #80 "ValueError: No PAGE-XML for page 'OCR-D-010_00001' in fileGrp 'OCR-D-011' but multiple matches."
Got latest updates for sbb-textline and did `~/local/bin/git -C core pull origin master` and did `make NO_UPDATE=1 all` today,

now with this *non*-sbb-textline workflow:

[code]

Ill get this error message:
[code]

[2020-11-06 13:10] bertsky commented on #80
Cf. 24349059b5a6a5a3912cb208bf43cf21a6d2ba3a in #77

[2020-11-20 10:01] mikegerber opened #81 "ocrd-cis-ocropy-segment default level-of-operation"
Should ocrd-cis-ocropy-segment have a default `level-of-operation` of `page`? (Currently it does not have this default)

[2020-11-20 10:13] bertsky commented on #81
Not sure. For one, keeping the default at `region` ensures backwards compatibility of workflows. Also, the page segmentation algorithm is a completely new thing not associated to the old Ocropus segmenter (it just builds upon the flat line segmentation). So it's not something you would _expect_ from ocropy-segment.

[2020-11-20 14:51] mikegerber commented on #81
I was expecting it to do segmentation of document pages.

[2020-11-20 15:07] bertsky commented on #81
Sure, if you don't know Ocropy usually only gave a single block per
page, and did not use that processor before #47, you might not have that
expectation.

So you think this is a documentation issue? (README and docstring /
`--help` text are fairly explicit about this...)

[2020-11-20 16:01] #81 closed

[2020-11-30 10:06] b2m commented on #76
Confirmed, I could not reproduce this issue with the newest version of OCR-D.

[2020-11-30 10:06] #76 closed

[2021-01-06 11:18] Witiko opened #82 "ocrd-cis-align --dump-json does not produce valid JSON"
Calling `ocrd-cis-align --dump-json` with the [Docker image `ocrd/all:2020-12-28`](https://hub.docker.com/layers/ocrd/all/2020-12-28/images/sha256-7360e8c151897edb2cc583347eae399921d221c212f1afa616e3261d8606fe2c?context=explore) gives the following standard output (notice the last three lines):

[code]

This crashes OCR-D when calling `ocrd process "cis-align …" …`:

[code]

[2021-01-06 13:06] bertsky commented on #82
Thanks @Witiko – this slipped through. If you pull from #77 this should work now. (Don't know yet when I can finish this off though.)

[2021-01-15 16:33] Witiko commented on #82
@bertsky No problem. However, I will likely not be able to test this until there is a Docker image.

[2021-01-15 18:05] bertsky commented on #82
You can pull from git repos even in the Docker images. In this case (where the Docker image already contains the PR branch #77, just not the current head):

    docker run -it ocrd/all bash
    cd /build
    git -C ocrd_cis pull origin pull/77/head

That's it! (No need to re-install via pip, because modules are installed in editable mode now, and the recent changes did not affect anything other th

[2021-02-12 23:07] bertsky opened #84 "Make deskewing efficient+robust, and add orientation"
As outlined a while ago,

https://github.com/cisocrgroup/ocrd_cis/blob/c3fad1a8b04dc5a305460e8bb3c54cb79cd75515/ocrd_cis/ocropy/common.py#L111-L118

there are plenty of opportunities to improve `ocrd-cis-ocropy-deskew`:
- downscale during estimation when pixel density (or resolution) is large
- use hill-climbing approach with increasing precision (and interpretable performance/quality trade-off pa

[2021-02-13 13:46] bertsky commented on #84
One obstacle on that road is sufficient ground truth data, though.

Does anyone know of a suitable dataset (with differently oriented regions or pages, and/or with skewed regions or pages),  __correctly__ represented in PAGE-XML or ALTO-XML?

Looking at PRImA's Layout Analysis Dataset for reference, there seem to be [serious issues](https://github.com/PRImA-Research-Lab/PAGE-XML/issues/26#issuecom

[2021-04-29 14:44] mikegerber opened #85 "PyPI release is behind"
The [release on PyPI](https://pypi.org/project/ocrd-cis/) (0.0.10) is behind the release here (0.1.5).

[2021-05-07 15:14] mikegerber commented on #85
Any news on this?

[2021-05-14 13:24] M3ssman commented on #85
I'm wondering, too .

[2022-02-28 11:05] MehmedGIT opened #86 "object.__setattr__ related errors "AttributeError: can't set attribute""
ocrd-cis-ocopy-segment currently returns some AttributeErrors in some regions. Seems shapely misbehaves. The same error is discussed here: shapely/shapely#1207

The workflow I've used follows this sequence of processors: https://ocr-d.de/en/workflows#best-results-for-selected-pages

I am using the input images from this repository: https://ocr-d-repo.scc.kit.edu/api/v1/dataresources/b22282d5-a206-

[2022-02-28 16:44] bertsky commented on #86
Sorry, but that stacktrace is not helpful. (I wonder why it does not contain the part between `ocropy.segment.make_intersection` and the actual shapely code that is problematic.)

Could you please try again with Shapely 1.7.x?

[2022-02-28 17:29] MehmedGIT commented on #86
I have no idea why it does not contain more info. Shapely 1.7.1 works just fine!

[2022-03-04 11:18] #79 closed

[2022-03-04 11:18] #80 closed

[2022-03-04 11:18] #82 closed

[2022-03-12 00:41] bertsky commented on #85
@finkf if you want me to, I'll upload all previously missing releases to PyPI.

[2022-03-12 00:42] bertsky commented on #73
Could you please revisit with the current master version @jbarth-ubhd ?

[2022-03-12 00:44] bertsky commented on #86
We have set the Shapely dependency on hold in the master version. Closing for now – but we should revisit and analyse what needs to be changed for newer Shapely to work properly.

[2022-03-12 00:48] bertsky opened #88 "calamari_ocr dependency outdated and heavy"
We still have `calamari_ocr == 0.3.5` in `install_requires`. That's quite a drag IMO: it is quite out-dated, pulls in Tensorflow/Keras (themselves outdated), and probably not really necessary (since we've had ocrd_calamari for quite a while now).

Can we remove this?

(I see references to Calamari in `div.eval`, `div.auswerter.runcalamari` and `aio.runcalamari`.)

[2022-03-23 15:39] stefanCCS opened #89 "Core dump in ocrd-cis-ocropy-segment"
I just (22.03.2022) updated `ocrd_all`.
After this update, I have got an error (core dump) in ocrd-cis-ocropy-segment - like this:
[code]
Here I have attached the workspace to reproduce:
[ocrd-cis-ocrocy-segment-error.zip](https://github.com/cisocrgroup/ocrd_cis/files/8334385/ocrd-cis-ocrocy-segment-error.zip)

[2022-03-24 08:49] stefanCCS opened #90 "Core dump in ocrd-cis-ocropy-denoise"
With an update of `ocrd_all` from 22.03.22 I get this core dump:

[code]

Maybe this is related to  #89

[2022-03-24 11:35] bertsky commented on #90
Thanks @stefanCCS, that clue led me in the right direction. Yes, same cause as #89.

It's a [bug in OpenCV](https://github.com/opencv/opencv/issues/21366), which has been fixed upstream, but no release yet.

[2022-03-24 11:35] bertsky commented on #89
It's a [bug in OpenCV](https://github.com/opencv/opencv/issues/21366), which has been fixed upstream, but no release yet.

[2022-03-24 11:38] bertsky commented on #89
Can you please try again with the most recent version of #87?

[2022-03-24 11:38] bertsky commented on #90
Can you please try again with the most recent version of #87?

[2022-03-25 14:49] stefanCCS commented on #90
Tested - is ok!

[2022-03-25 15:23] finkf commented on #85
@bertsky yes. It would be nice if you could upload the missing releases.

[2022-05-05 06:23] stefanCCS opened #92 "Strange behaviour with symbolic links"
Version used: https://github.com/OCR-D/ocrd_all/releases/tag/v2022-05-04
If you have an workspace, which has symbolic links in Image Source Folder (OCR-D-IMG), then it looks like that the command
`ocrd-cis-ocropy-binarize`
creates an copy for this image additional to the symbolic link.

It looks like to be the same issue, as also was here:
https://github.com/OCR-D/core/issues/802
--> Please look f

[2022-05-05 06:29] bertsky commented on #92
It is in fact the same issue – Ocropy does nothing special here, just uses the std functions from core. Closing here to keep it simple.

[2022-05-05 06:29] #92 closed, assigned to nobody

[2022-05-05 06:31] stefanCCS commented on #90
Works ok in https://github.com/OCR-D/ocrd_all/releases/tag/v2022-05-04

[2022-05-05 06:31] #90 closed, assigned to nobody

[2022-05-05 15:21] stefanCCS opened #93 "Got exception using ocrd-cis-ocropy-resegment with method 'ccomps'"
I have got the following exception (with loglevel 'trace') using `ocrd-cis-ocropy-resegment`with method 'ccomps':
[code]
The PAGE looks like this:
[code]
Please clarify ...